.footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10em auto 2em auto;
    text-align: center;
    width: 100%;

    @include on-mq(medium) {
        flex-direction: column;
        margin: 5em auto 2em auto;
    }
}

.footer-link {
    border-radius: 4px;
    box-shadow: $box-normal;
    padding: 1em 2em;
    transition: all 0.25s;
    
    &:hover {
        box-shadow: $box-hover;
        transform: translateY(-1px);
    }

    & .fa-github {
        color: #333;
    }

    & .fa-paypal {
        color: #009cde;
    }

    @include on-mq(medium) {
        &:not(:last-child) {
            margin-bottom: 1.5em;
        }
    }
}

.notice {
    color: $light;
    margin: 1em 0;
    text-align: center;
    width: 100%;

    & a {
        font-weight: bold;
    }
}