.gradient-code {
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.75);
    font-family: $mono-font;
    margin: 4em auto 1em auto;
    padding: 2em 100px 2em 3em;
    position: relative;
    text-align: center;
    width: 75%;
}