.header {
    text-align: center;
    margin: 1.5em 0 0 0;
}

.in-use-label {
    justify-self: flex-end;
    color: $light;
    font-size: 1em;
    font-weight: normal;
    padding: 1em 0 0 0;
}

.in-use-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.in-use-section {
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    position: relative;
    text-align: center;
    margin-top: 2em;

    @include on-mq(medium) {
        flex-basis: 50%;
    }

    @include on-mq(small) {
        flex-basis: 100%;
    }

    &.wide {
        flex-basis: 45%;

        @include on-mq(medium) {
            flex-basis: 100%;
        }
    }

    &::before {
        content: ''
    }
}

.in-use-content {
    &.label {
        border-radius: 2px;
        box-shadow: $box-normal;
        color: inherit;
        font-family: sans-serif;
        font-size: 0.5em;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 0.5em 1.25em;
    }
    
    &.button {
        border-radius: 4px;
        box-shadow: $box-normal;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: bold;
        padding: 1em 1.5em;
        transition: all 0.25s;
    
        &:hover {
            box-shadow: $box-hover;
            transform: translateY(-1px);
        }
    }
    
    &.image {
        background-blend-mode: color;
        box-shadow: $box-normal;
        display: block;
        height: 128px;
        width: 128px;
    }

    &.message {
        border-radius: 20px 20px 20px 0px;
        box-shadow: $box-normal;
        font-family: sans-serif;
        line-height: 1.5;
        padding: 1em 2em;
        text-align: left;
    }

    &.status {
        box-shadow: $box-normal;
        font-family: sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.5;
        padding: 1.5em 3em;
    }
}
