.gradient-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 78%;
    padding: 0 10%;
    position: relative;
    width: 100%;
    z-index: 0;

    @include on-mq(medium) {
        min-height: 60%;
    }

    @include on-mq(small) {
        max-width: 0 2.5%;
    }
}

.input-header {
    font-size: 0.75em;
    margin: 0 0 1em 0;
    padding: 0;
    text-transform: uppercase;
    z-index: 5;
}

.input-wrapper {
    display: flex;
    margin-bottom: 1em;
    padding: 0 0 0.5em 0;
    z-index: 5;
}

.color-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: $mono-font;
    font-size: 1.5em;
    font-weight: 200;
    outline: none;
    transition: all 0.25s;
    width: 100%;

    &:focus {
        border-bottom: 1px solid white;
    }
}

.randomize-color {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    transition: all 0.25s;

    &:hover {
        opacity: 1;
    }
}

.gradient-code {
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.75);
    font-family: $mono-font;
    margin: 4em auto;
    padding: 2em 100px 2em 3em;
    position: relative;
    text-align: center;
    width: 75%;
}

.copy-button {
    background: none;
    border: none;
    bottom: 0;
    color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5em;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.25s;
    width: 100px;

    &:hover {
        color: rgba(0, 0, 0, 0.75);
    }
}

.copy-message {
    background: white;
    border-radius: 4px;
    box-shadow: $box-normal;
    opacity: 0;
    padding: 0.5em 1em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;

    &.active {
        animation: copy-message-fade 0.4s;
    }
}

@keyframes copy-message-fade {
    0% { opacity: 0; transform: translateY(0); }
    75% { opacity: 1; transform: translateY(-1em); }
    100% { opacity: 1; transform: translateY(-1em); }
}