.gradient-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 78%;
    padding: 0 10%;
    position: relative;
    width: 100%;
    z-index: 0;

    @include on-mq(medium) {
        min-height: 60%;
    }

    @include on-mq(small) {
        max-width: 0 2.5%;
    }

    &.fixed {
        display: none;

        @include on-mq(medium) {
            display: flex;
            left: 0;
            position: fixed;
            right: 0;
            top: -48%;
            z-index: 50;
        }
    }
}

.input-header {
    font-size: 0.75em;
    margin: 0 0 1em 0;
    padding: 0;
    text-transform: uppercase;
    z-index: 5;
}

.input-wrapper {
    display: flex;
    margin-bottom: 1em;
    padding: 0 0 0.5em 0;
    z-index: 5;
}

.color-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: $mono-font;
    font-size: 1.5em;
    font-weight: 200;
    outline: none;
    transition: all 0.25s;
    width: 100%;

    &:focus {
        border-bottom: 1px solid white;
    }
}

.randomize-color {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    transition: all 0.25s;
    width: 5em;

    &:hover {
        opacity: 1;
    }
}

.header-watch {
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 48%;
}